<div class="container">
  <div class="jumbotron">
    <h3>
      Welcome to {{title}}!
    </h3>
  </div>
  Bir Ürün Seçiniz:
  <select [(ngModel)]="selectedProduct" (change)="fillDetail()">
    <option *ngFor="let item of ProductList" [ngValue]="item">{{item.Name}}</option>
  </select>
  <table class="table" *ngIf="model!=null">
    <tr class="danger">
      <td>
        Ürünün Adı:
      </td>
      <td>
        <input type="text" [(ngModel)]="model.Name">
      </td>
    </tr>
    <tr class="success">
      <td>
        Ürünün Fiyatı:
      </td>
      <td>
        <input type="text" [(ngModel)]="model.Price" OnlyNumber="true" >
      </td>
    </tr>
  </table>
</div>